<!-- filepath: c:\Data Science Course\Developer\Foster the Data\Restaurant POS\templates\menu-items.html -->
<div class="menu-items">
    <div class="menu-item" data-name="Food 1" data-price="10.99">
        <img src="img/fish.jpg" alt="Food 1">
        <p>Food 1</p>
        <button class="serve-btn">SERVE</button>
    </div>
    <div class="menu-item" data-name="Food 2" data-price="5.49">
        <img src="img/peas.jpg" alt="Food 2">
        <p>Food 2</p>
        <button class="serve-btn">SERVE</button>
    </div>
    <div class="menu-item" data-name="Food 3" data-price="7.99">
        <img src="img/sausage.jpg" alt="Food 3">
        <p>Food 3</p>
        <button class="serve-btn">SERVE</button>
    </div>
    <div class="menu-item" data-name="Food 4" data-price="12.99">
        <img src="img/chicken.jpg" alt="Food 4">
        <p>Food 4</p>
        <button class="serve-btn">SERVE</button>
    </div>
    <div class="menu-item" data-name="Food 1" data-price="10.99">
        <img src="img/fish.jpg" alt="Food 1">
        <p>Food 1</p>
        <button class="serve-btn">SERVE</button>
    </div>
    <div class="menu-item" data-name="Food 2" data-price="5.49">
        <img src="img/peas.jpg" alt="Food 2">
        <p>Food 2</p>
        <button class="serve-btn">SERVE</button>
    </div>
    <div class="menu-item" data-name="Food 3" data-price="7.99">
        <img src="img/sausage.jpg" alt="Food 3">
        <p>Food 3</p>
        <button class="serve-btn">SERVE</button>
    </div>
    <div class="menu-item" data-name="Food 4" data-price="12.99">
        <img src="img/chicken.jpg" alt="Food 4">
        <p>Food 4</p>
        <button class="serve-btn">SERVE</button>
    </div>
    <div class="menu-item" data-name="Food 1" data-price="10.99">
        <img src="img/fish.jpg" alt="Food 1">
        <p>Food 1</p>
        <button class="serve-btn">SERVE</button>
    </div>
    <div class="menu-item" data-name="Food 2" data-price="5.49">
        <img src="img/peas.jpg" alt="Food 2">
        <p>Food 2</p>
        <button class="serve-btn">SERVE</button>
    </div>
    <div class="menu-item" data-name="Food 3" data-price="7.99">
        <img src="img/sausage.jpg" alt="Food 3">
        <p>Food 3</p>
        <button class="serve-btn">SERVE</button>
    </div>
    <div class="menu-item" data-name="Food 4" data-price="12.99">
        <img src="img/chicken.jpg" alt="Food 4">
        <p>Food 4</p>
        <button class="serve-btn">SERVE</button>
    </div>
    <div class="menu-item" data-name="Food 1" data-price="10.99">
        <img src="img/fish.jpg" alt="Food 1">
        <p>Food 1</p>
        <button class="serve-btn">SERVE</button>
    </div>
    <div class="menu-item" data-name="Food 3" data-price="7.99">
        <img src="img/sausage.jpg" alt="Food 3">
        <p>Food 3</p>
        <button class="serve-btn">SERVE</button>
    </div>
    <div class="menu-item" data-name="Food 4" data-price="12.99">
        <img src="img/chicken.jpg" alt="Food 4">
        <p>Food 4</p>
        <button class="serve-btn">SERVE</button>
    </div>
    <div class="menu-item" data-name="Food 1" data-price="10.99">
        <img src="img/fish.jpg" alt="Food 1">
        <p>Food 1</p>
        <button class="serve-btn">SERVE</button>
    </div>
    <div class="menu-item" data-name="Food 3" data-price="7.99">
        <img src="img/sausage.jpg" alt="Food 3">
        <p>Food 3</p>
        <button class="serve-btn">SERVE</button>
    </div>
    <div class="menu-item" data-name="Food 4" data-price="12.99">
        <img src="img/chicken.jpg" alt="Food 4">
        <p>Food 4</p>
        <button class="serve-btn">SERVE</button>
    </div>
    <div class="menu-item" data-name="Food 1" data-price="10.99">
        <img src="img/fish.jpg" alt="Food 1">
        <p>Food 1</p>
        <button class="serve-btn">SERVE</button>
    </div>
    <div class="menu-item" data-name="Food 2" data-price="5.49">
        <img src="img/peas.jpg" alt="Food 2">
        <p>Food 2</p>
        <button class="serve-btn">SERVE</button>
    </div>
    <div class="menu-item" data-name="Food 3" data-price="7.99">
        <img src="img/sausage.jpg" alt="Food 3">
        <p>Food 3</p>
        <button class="serve-btn">SERVE</button>
    </div>
    <div class="menu-item" data-name="Food 4" data-price="12.99">
        <img src="img/chicken.jpg" alt="Food 4">
        <p>Food 4</p>
        <button class="serve-btn">SERVE</button>
    </div>
</div>
